.body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
    

}

h1{font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Poppins', sans-serif;}

    h1{font-size: 40px;}



/* ------------------------section 1--------------------------- */
.flexible-container{
    display: flex;
    margin-bottom: 75px;
}


/* --------Top Benar section--------- */
.background-img{
    width: 100%;
    padding: 1%;
    background-repeat: no-repeat;
}

.background-img img{width: 100%;
    height: 500px;
}



/* --------Section1 heading color-------- */
#section1-heading-color{color: darkorange; }



/* -----section1-div1------ */
.section-div1{
    width: 50%;
    text-align: justify;
    padding: 1%;  
}


/* ---section1 Hire me Button--- */
#section-HIRE-ME-button{background-image: linear-gradient(#ec6f66, #f3a183);
    font-weight: 700;
    color: white;
    border-radius: 4px;
    width: 33px;
    padding: 2px 25px; 
    text-decoration: none; 
}


/* -----section1-image----- */
.section1-img{
    width: 50%;
    padding: 4%;
    
}
.section1-img img{
    width: 90%;
}
/* ----------------- section 1 End/Closed --------------- */







/* --------------------------section 2----------------------------- */
.section2{
    display: flex;
    margin-bottom: 75px;
}

/* ---section2-image--- */
.section2-img{
    width: 50%;
    padding: 0px;
}
.section2-img img{
    width: 80%;
}


/* ---section2-div2--- */
.section2-div2{
    width: 50%;
    text-align: justify;
}


/* -----Section2 DOWNLOAD RESUME Button----- */
#DOWNLOAD-RESUME-Button{background-image: linear-gradient(#ec6f66, #f3a183);
    color: white;
    font-weight: 700;
    text-decoration: none;
    padding: 4px 25px;
    border-radius: 4px;   
}
/* ----------------- section 1 End/Closed --------------- */





/* --------------------------section 3----------------------------- */
.section-div11{
    border-left: 5px solid rgb(255, 119, 77);
    width: 50%;
    margin: 3%;
    padding: 15px;
    box-shadow: 10px 10px 18px #b4b4b4;
}


.section3div1h3{
    color: darkorange;
}


.section3-div1{
    border-left: 5px solid rgb(64, 64, 255);
    width: 50%;
    margin: 3%;
    padding: 15px;
    box-shadow: 10px 10px 18px #b4b4b4;
    
}


footer{
    text-align: center;
    font-weight: 600;
    font-size: 14px;
}